<div id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Photo App</h1>
    <p class="lead">You want to lear how to make beautiful photos. Sing up and start learning!</p>
    <%= link_to "Sign up!", new_user_registration_path, class: "btn btn-info btn-lg" %>
  </div>
</div>